{% extends "base.html" %}
{% block title %} Корзина{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
           <h1>Корзина</h1>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                {% for item in cart %}
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}